# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.The-Elements-Within-3D-Puzzle-Platformer-.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Blank\OneDrive\Документы\The-Elements-Within-3D-Puzzle-Platformer-\.idea\.idea.The-Elements-Within-3D-Puzzle-Platformer-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
